body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(#8b54e6b9, #8888ceb3),
                    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-position: center;
}
.container{
  font-family: 'Poppins', sans-serif;
  margin: 50px auto 0 auto;
  width: 100%;
  color: #f3f3f3;
}
.titles{
  text-align: center;
}
.form-box{
  margin: auto;
  padding: 30px 30px 30px 30px;
  width: 50%;
  background-color: #1b1b32cc;
}
.element-form{
  margin: 0 auto 20px auto;
}
.input-text{
  width: 100%;
  height: 35px;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}
.select-option{
  width: 100%;
  height: 35px;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}
.input-box-text{
  width: 100%;
  height: 100px;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  resize: vertical;
}
.submit-button{
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37b437;
  color: inherit;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
label{
  display: flex;
  margin-bottom: 10px;
}